@font-face {
    font-family: Gotham-Bold;
    src: url("../fonts/GothamBold.ttf");
}

body {
    background-image: url("../images/bg-step2.jpg");
    background-size: cover;
}

.barre-navigation {
    width: 100%;
}

.intro-text h1 {
    text-align: center;
    font-family: Gotham-Bold, sans-serif;
    font-weight: bold;
    font-size: calc(1.3vw + 25px);
    color: #352F64;
}

.intro-text p {
    text-align: center;
    font-family: Gotham-Bold, sans-serif;
    font-size: calc(0.4vw + 10px);
}

.lienOff {
    height: 95%;
    /*display: inline-block;*/
    padding: calc(1.5vh + 10px);
    border-bottom: 5px solid #352f64;
    background-color: #4c448f;
    text-align: center;
    font-size: calc(0.2vw + 10px);
    font-family: Gotham-Bold, sans-serif;
}

.lienOff a {
    color: white;
    font-family: Gotham-Bold, sans-serif;
}

.lienOn {
    font-size: calc(0.2vw + 10px);
    font-family: Gotham-Bold, sans-serif;
    padding: calc(1.5vh + 10px);
    border: 2px solid #4c448f;
    border-bottom: 5px solid #352f64;
    background-color: white;
    text-align: center;

}

@media all and (max-width: 991px) {
    .lienOn {
        border-bottom: 5px solid #4c448f;
        padding: 1vh;
        border-top: none;
    }

    .lienOff {
        padding: 1vh;
    }
}

.lienOn a, a:hover, a:active {
    font-family: Gotham-Bold, sans-serif;
    text-decoration: none;
}

.bg-insert {
    margin-top: 5px;
    min-height: 60vh;
    /*height: 60vh;*/
    font-family: Gotham-Bold, sans-serif;
    background-color: white;
    border-radius: 10px;
}

.titles {
    font-size: calc(0.5vw + 10px);
    margin-bottom: calc(2vh + 8px);
}

.room-panel {
    border-right: 2px solid #4C448F;
    min-height: 60vh;
}

@media all and (max-width: 991px) {
    .room-panel {
        min-height: auto;
        border: none;
    }
}

.stuff-panel {

}

.item-quantity {
    width: 60px !important;
}

/*.onglets{*/
/*height: 80px;*/
/*}*/

.list-room {
    display: block;
    margin-top: calc(0.5vh + 5px);
    font-size: calc(0.3vw + 15px);
    text-align: right;
    color: #4c448f;
    text-transform: uppercase;
    /*margin-right: 10px;*/
    font-family: Gotham-Bold, sans-serif;
    padding: calc(0.5vh + 5px);
}

@media all and (max-width: 991px) {
    .list-room {
        text-align: center;
    }
}

/*.list-room.link a:active{*/
/*color: red;*/
/*}*/

.room-selector {
    padding: calc(0.5vh + 4px);
    font-size: calc(0.8vw + 10px);
    text-transform: uppercase;
    /*margin-right: 10px;*/
    font-family: Gotham-Bold, sans-serif;
}

.room-selector a {
    color: #4c448f;
}

.modal-title {
    font-size: calc(0.5vw + 15px);
    color: white;
    text-transform: uppercase;
    font-family: Gotham-Bold, sans-serif;
}

.modal-header {
    background-color: #4c448f;
}

.btn-close {
    background-color: #4c448f;
    color: white;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}

#autocomplete > li:hover {
    cursor: pointer;
    background-color: rgb(208, 212, 219);

}

.list-room a:active.link {
    background-color: #4c448f;
}

.btn-room {
    background-color: rgb(208, 212, 219);
    color: #4c448f;
    padding: 5px;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

/*.btn-room:hover {*/
/*background-color: #4c448f;*/
/*color: white;*/
/*padding:5px;*/
/*}*/

.btn-success:hover {
    background-color: #4c448f;
    border-color: #4c448f;
    border-radius: 0;
}

.btn-success {
    background-color: #4c448f;
    border-color: #4c448f;
    border-radius: 0;
    padding: calc(0.2vw + 5px);
    font-size: calc(0.5vw + 10px);
}

.btn-success:focus {
    background-color: #4c448f;
}

.message-empty {
    color: #4c448f;
    text-align: center;
    font-family: Gotham-Bold, sans-serif;
}

.img-carton {
    margin-right: auto;
}

#autocomplete_search {
    /*width: 30vw;*/
    border-radius: 0;
}

#myTab {
    margin-left: -42px;
}

@media all and (max-width: 991px) {
    .list-inline > li {
        display: block;
    }

    .form-control {
        display: inline;
        margin-bottom: 0;
    }
}
