@font-face {
    font-family: Gotham-Bold;
    src: url("../fonts/GothamBold.ttf");
}

body {
    background-image: url("../images/bg-step2.jpg");
    background-size: cover;
}

.barre-navigation {
    width: 100%;
}

.intro-text h1 {
    text-align: center;
    font-family: Gotham-Bold,sans-serif;
    font-weight: bold;
    font-size: calc(1.3vw + 25px);
    color: #352F64;
}

.intro-text p {
    text-align: center;
    font-family: Gotham-Bold,sans-serif;
    font-size: calc(0.4vw + 10px);
}

.lienOff {
    height: 95%;
    /*display: inline-block;*/
    padding: calc(1.5vh + 10px);
    border-bottom: 5px solid #352f64;
    background-color: #4c448f;
    text-align: center;
    font-size: calc(0.2vw + 10px);
    font-family: Gotham-Bold, sans-serif;
}

.lienOff a{
    color: white;
    font-family: Gotham-Bold, sans-serif;
}

.lienOn {
    font-size: calc(0.2vw + 10px);
    font-family: Gotham-Bold, sans-serif;
    padding: calc(1.5vh + 10px);
    border: 2px solid #4c448f;
    border-bottom: 5px solid #352f64;
    background-color: white;
    text-align: center;

}

@media all and (max-width: 991px) {
.lienOn {
    border-bottom: 5px solid #4c448f;
    padding: 1vh;
    border-top: none;
}
.lienOff {
    padding: 1vh;
}
}

.lienOn a, a:hover, a:active {
    font-family: Gotham-Bold, sans-serif;
    text-decoration: none;
}

.bg-insert {
    margin-top: 5px;
    height: 60vh;
    font-family: Gotham-Bold, sans-serif;
    background-color: white;
    border-radius: 10px;
}


.titles{
    font-size: calc(0.5vw + 10px);
}
.room-panel {
}

.stuff-panel {

}
/*.stylish-input-group {*/
    /*width: 50%;*/
/*}*/

/*.stylish-input-group .input-group-addon{*/
    /*background: white !important;*/
/*}*/
/*.stylish-input-group .form-control{*/
    /*border-right:0;*/
    /*box-shadow:0 0 0;*/
    /*border-color:#ccc;*/
/*}*/
/*.stylish-input-group button{*/
    /*border:0;*/
    /*background:transparent;*/
/*}*/

/*.de-merde {*/
    /*margin: 10px 5px 10px 5px;*/
/*}*/

/*.valid-inventory-button{*/
    /*margin-right: 5px;*/
/*}*/
/* roboto font */
/* roboto-300 - latin */
.wrapper {
    background: #152B39;
    display: block;
    margin: 5em auto;
    border: 1px solid #555;
    width: 700px;
    height: 350px;
    position: relative;
}
p{text-align:center;}
.label {
    height: 1em;
    padding: .3em;
    background: rgba(255, 255, 255, .8);
    position: absolute;
    display: none;
    color:#333;

}
