
<ul class="list-inline">
{% for stuff in inventory.basketStuffs %}
    <li class="list-group-item">
        {{ stuff.name~ ' ' }}   <span data-id="{{ stuff.id }}" class="glyphicon glyphicon-delete"></span>
    </li>
{% endfor %}
</ul>