{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="intro-text">
            <div class="row">
                <h1>INVENTAIRE DE MON DÉMÉNAGEMENT</h1>
            </div>
            <div class="row">
                <p>Définissez la liste des objets que vous souhaitez déménager.</p>
            </div>
        </div>
        <div class="row onglets">
            <div class="col-md-offset-1 col-md-3 lienOff">
                <a href="#">UN APPARTEMENT</a>
            </div>
            <div class="col-md-offset-1 col-md-3 lienOff">
                <a href="#">UNE MAISON</a>
            </div>
            <div class="col-md-offset-1 col-md-3 lienOn">
                <a href="#">INVENTAIRE LIBRE</a>
            </div>
        </div>
        <div class="row bg-insert">
            <div class="col-md-4">
                <div class="row line-separate">
                    <button class="btn-success">Ajoutez une pièce</button>
                </div>
            </div>
            <div class="col-md-8">
                <h2>Ajoutez vos meubles</h2>
                <div class="row">
                    <div class="col-xs-12">
                        <input id="autocomplete_search" name="autocomplete_search" type="text" class="form-control" placeholder="Search">
                        <ul class="list-group" id="autocomplete"></ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div id="stuff_list"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/ajax.js') }}"></script>
{% endblock %}